<template>
  <v-row justify="center" align="center">
    <v-col cols="12">
      <v-card>
        <v-card-text v-if="loading_end">
          <v-row>
            <v-col cols="12" md="4">
              <v-card-title class="headline"
                >รายงานสถานการณ์ โควิด-19 (14 วัน)</v-card-title
              >
              <LazyBarChart
                :data="barChartData"
                :options="barChartOptions"
                :height="250"
              />
            </v-col>
            <v-col cols="12" md="8">
              <v-card-title class="headline">โควิด-19 วันนี้ ({{toDay}})</v-card-title>
              <v-row>
                <v-col cols="12">
                  <v-card
                    color="pink"
                    class="d-flex flex-column jutify-center align-center"
                    v-if="getTodayCases"
                  >
                    <v-card-title class="headline"
                      >ติดเชื้อสะสม ({{
                        numberF(getTodayCases.Confirmed)
                      }})</v-card-title
                    >
                    <v-card-title class="display-1"
                      >+{{ numberF(getTodayCases.NewConfirmed) }}</v-card-title
                    >
                  </v-card>
                </v-col>
                <v-col cols="12" md="4">
                  <v-card
                    color="green"
                    class="d-flex flex-column jutify-center align-center"
                    v-if="getTodayCases"
                  >
                    <v-card-title class="headline"
                      >หายแล้ว ({{
                        numberF(getTodayCases.Recovered)
                      }})</v-card-title
                    >
                    <v-card-title class="display-1"
                      >+{{ numberF(getTodayCases.NewRecovered) }}</v-card-title
                    >
                  </v-card>
                </v-col>
                <v-col cols="12" md="4">
                  <v-card
                    color="blue"
                    class="d-flex flex-column jutify-center align-center"
                    v-if="getTodayCases"
                  >
                    <v-card-title class="headline"
                      >รักษาอยู่ใน รพ. ({{
                        numberF(getTodayCases.Hospitalized)
                      }})</v-card-title
                    >
                    <v-card-title class="display-1"
                      >+{{
                        numberF(getTodayCases.NewHospitalized)
                      }}</v-card-title
                    >
                  </v-card>
                </v-col>
                <v-col cols="12" md="4">
                  <v-card
                    color="red"
                    class="d-flex flex-column jutify-center align-center"
                    v-if="getTodayCases"
                  >
                    <v-card-title class="headline"
                      >เสียชีวิต ({{
                        numberF(getTodayCases.Deaths)
                      }})</v-card-title
                    >
                    <v-card-title class="display-1"
                      >+{{ numberF(getTodayCases.NewDeaths) }}</v-card-title
                    >
                  </v-card>
                </v-col>
              </v-row>
              <span v-if="getTodayCases"
                >อัพเดทข้อมูลล่าสุด ({{
                  newDateF(getTodayCases.UpdateDate)
                }})</span
              >
            </v-col>
            <v-col cols="12" md="4">
              <v-card-title class="headline"
                >เพศผู้ติดเชื้อ โควิด-19</v-card-title
              >
              <v-row v-if="getSumCases">
                <v-col cols="12" md="4">
                  <v-card
                    color="green"
                    class="d-flex flex-column jutify-center align-center"
                  >
                    <v-card-title class="headline">อายุน้อยสุด</v-card-title>
                    <v-card-title class="display-1"
                      >{{ getSumCases.MinAge }} ปี</v-card-title
                    >
                  </v-card>
                </v-col>
                <v-col cols="12" md="4">
                  <v-card
                    color="pink"
                    class="d-flex flex-column jutify-center align-center"
                  >
                    <v-card-title class="headline">อายุมากสุด</v-card-title>
                    <v-card-title class="display-1"
                      >{{ getSumCases.MaxAge }} ปี</v-card-title
                    >
                  </v-card>
                </v-col>
                <v-col cols="12" md="4">
                  <v-card
                    color="info"
                    class="d-flex flex-column jutify-center align-center"
                  >
                    <v-card-title class="headline">อายุเฉลี่ย</v-card-title>
                    <v-card-title class="display-1"
                      >{{ getSumCases.AvgAge }} ปี</v-card-title
                    >
                  </v-card>
                </v-col>
                <v-col
                  v-for="item in getSumCases.Gender"
                  :key="item.Gender"
                  cols="12"
                >
                  <v-card
                    :color="
                      item.Gender == 'ชาย'
                        ? 'blue'
                        : item.Gender == 'หญิง'
                        ? 'pink'
                        : 'grey'
                    "
                    class="d-flex flex-column jutify-center align-center"
                  >
                    <v-card-title class="headline">{{
                      item.Gender
                    }}</v-card-title>
                    <v-card-title class="display-1">{{
                      numberF(item.Count)
                    }}</v-card-title>
                  </v-card>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12" md="4">
              <v-card-title class="headline">แยกตามจังหวัด</v-card-title>
              <v-card-title>
                <v-text-field
                  v-model="search"
                  append-icon="mdi-magnify"
                  label="ค้นหาจากจังหวัด"
                  single-line
                  hide-details
                ></v-text-field>
              </v-card-title>
              <v-data-table
                v-if="getSumCases"
                :headers="headers"
                :items="getSumCases.Province"
                sort-by="Count"
                :sort-desc="true"
                :search="search"
              ></v-data-table>
            </v-col>
            <v-col cols="12" md="4">
              <v-card-title class="headline">แยกตามสัญชาติ</v-card-title>
              <v-card-title>
                <v-text-field
                  v-model="searchNation"
                  append-icon="mdi-magnify"
                  label="ค้นหาจากสัญชาติ"
                  single-line
                  hide-details
                ></v-text-field>
              </v-card-title>
              <v-data-table
                v-if="getSumCases"
                :headers="headersNation"
                :items="getSumCases.Nation"
                sort-by="Count"
                :sort-desc="true"
                :search="searchNation"
              ></v-data-table>
            </v-col>
          </v-row>
          <span v-if="getSumCases"
            >อัพเดทข้อมูลล่าสุด ({{ newDateF(getSumCases.LastData) }})</span
          >
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>


<script>
import BarChart from "~/components/BarChart.vue";
import moment from "moment";
export default {
  components: { BarChart },
  async mounted() {
    var getTimeline = await fetch(
      "https://th-stat.com/json/covid19v2/getTimeline.json"
    ).then(async (e) => {
      return await e.json();
    });
    getTimeline.Data.slice(-14).forEach((e) => {
      this.barChartData.labels.push(e.Date);
      this.barChartData.datasets[0].data.push(e.NewConfirmed);
      this.barChartData.datasets[1].data.push(e.NewRecovered);
      this.barChartData.datasets[2].data.push(e.NewHospitalized);
      this.barChartData.datasets[3].data.push(e.NewDeaths);
    });
    this.loading_end = true;

    this.getTodayCases = await fetch(
      "https://th-stat.com/json/covid19v2/getTodayCases.json"
    ).then(async (e) => {
      return await e.json();
    });
    this.getSumCases = await fetch(
      "https://th-stat.com/json/covid19v2/getSumCases.json"
    ).then(async (e) => {
      return await e.json();
    });
  },
  methods: {
    numberF(num) {
      return parseFloat(num)
        .toFixed(2)
        .replace(/\d(?=(\d{3})+\.)/g, "$&,")
        .replace(".00", "");
    },
    newDateF(d) {
      moment.locale("th");
      var r = d.split(" ");
      var s = r[0].split("/").reverse().join("-");
      return moment(s + " " + r[1]).fromNow();
    },
  },
  data() {
    return {
      toDay:moment().format('ll'),
      loading_end: false,
      getTodayCases: null,
      getSumCases: null,
      barChartData: {
        labels: [],
        datasets: [
          {
            label: "ผู้ติดเชื้อใหม่",
            data: [],
            backgroundColor: "#e91e63",
            borderWidth: 1,
          },
          {
            label: "หายแล้ว",
            data: [],
            backgroundColor: "#4CAF50",
            borderWidth: 1,
          },
          {
            label: "รักษาตัว",
            data: [],
            backgroundColor: "#2196F3",
            borderWidth: 1,
          },
          {
            label: "เสียชีวิต",
            data: [],
            backgroundColor: "#F44336",
            borderWidth: 1,
          },
        ],
      },
      barChartOptions: {
        responsive: true,
      },

      search: "",
      headers: [
        { text: "จังหวัด", value: "Province" },
        { text: "จำนวน", value: "Count" },
      ],
      searchNation: "",
      headersNation: [
        { text: "สัญชาติ", value: "Nation" },
        { text: "จำนวน", value: "Count" },
      ],
    };
  },
};
</script>
