<template>
  <v-app dark>
    <v-app-bar :clipped-left="clipped">
      <v-img
        alt="Covid 19 Thai Today"
        max-height="30"
        max-width="70"
        class="mx-5"
        src="/covid19_logo.png"
      />
      <v-toolbar-title v-text="title" />
    </v-app-bar>
    <v-main>
      <v-container>
        <Nuxt />
      </v-container>
    </v-main>
    <v-footer :absolute="!fixed" app>
      <span>จัดทำหน้าข้อมูลนี้โดย cii3.net และเชื่อม API จาก กรมควบคุมโรค กระทรวงสาธารณสุข ทีมงาน TH-STAT.com และกลุ่ม TCDG</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      items: [
        {
          icon: "mdi-apps",
          title: "Welcome",
          to: "/",
        },
        {
          icon: "mdi-chart-bubble",
          title: "Inspire",
          to: "/inspire",
        },
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: "Covid 19 Thai Today",
    };
  },
};
</script>
